/* Carousel Size */
.carouselImage {
    height: 82vh;
    object-fit: cover;
}
/* h2 Style */
#wwa h2 {
    margin: 1rem;
    text-align: center;
}
/* Body Size */
body {
    height: 3000px;
}
/* h2 position */
#wwa {
    display: inline-block;
    width: 98vw;
}
#textbreak{
    display: flex;
}
/* Text wwa */
.wwatext{
    font-size: 1rem;
    width: 32vw;
    margin: 1rem;
    display: block;
}
/* Img Size Group*/
#imgroupn{
    width: 28vw;
    box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.719);
}
/* Bar Style*/
.division{
    background-color: rgb(255, 255, 255); /* Temporariamente vermelho para teste */
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

/* Icon Bar Size */
.division-icon {
    height: 36px;
    margin: auto;
}
#chgsecc h2{
    margin: 1rem;
    margin-top: 5rem;
}

#listkofi{
    margin: 1rem;
}

.linedivision{
    margin-top: 7rem;
    height: 7px;
    background-color: rgb(0, 0, 0);
}

#beancfi{
    margin-left: 50rem;
    height: 64vh;
    width: 64vh;
    
}